<% if artical.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    
    <h5 class="alert-heading">
       <%= pluralize(artical.errors.count, "error") %> prohibited this artical from being saved:
    </h5>

    <ul class="mb-0">
      <% artical.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

