<div id="<%= dom_id artical %>">
  <div >
    <strong>Title:</strong>
    <%= artical.title %>
  </div>
  <br>

  <div>
    <strong>Description:</strong>
    <%= artical.description %>
  </div>

</div>
