<div class="container">
<div class="toast-container-custom">
  <% flash.each do |key, value| %>
    <div class="custom-toast alert-<%= key == 'notice' ? 'success' : 'danger' %> fade show" role="alert">
      <div class="toast-content">
        
        <%= value %>
      </div>
    </div>
  <% end %>
</div>
</div>